@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .border-border {
    border-color: rgb(229, 231, 235);
  }

  .bg-background {
    background-color: #fff;
  }

  .text-foreground {
    color: #000;
  }
}