{
    "env": {
        "node": true
    },
    "overrides": [
        {
            "files": [
                "*.cjs"
            ],
            "env": {
                "node": true
            },
            "parserOptions": {
                "sourceType": "script"
            },
            "rules": {
                "no-undef": "off"
            }
        }
    ]
}